.exs{
    margin-bottom: 20px;
    border: black 2px solid;
    padding: 20px;
    border-radius: 20px;
    display: flow-root;
    background-color: azure;
  }
  .cont{
    margin-left: 20px;
  }
  .cost{
    color: rgb(2 141 51);
    font-size: x-large;
    margin-left: 400px;
    font-style: oblique;
  }